main.container > div.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 35rem;
  width: 28%;
  background-color: var(--card-bg);
  box-shadow: 5px 5px 10px #cfcfcf;
  border-radius: 1rem;
}

div.card > div.hero { height: 40%; }
div.card > div.desc { height: 60%; }

div.card > div.hero > img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

div.desc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
div.desc > div { height: 33.33%; }

div.desc > div.info {
  text-align: center;
  width: 80%;
}
div.info > h1 {
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 0.5rem;
  color: var(--dark-blue);
}
div.info > p {
  color: var(--de-saturated-blue);
  font-size: 15px;
  line-height: 22px;
}

div.desc > div.plan {
  padding-top: 0.5rem;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
div.plan > div.pln1 { width: 20%; }
div.plan > div.pln3 { width: 20%; }
div.plan > div.pln2 { width: 60%; padding-left: 0.5rem; }
div.pln1 > img { margin-top: 0.3rem; width: 80%; }
div.pln3 > a {
  font-weight: 700;
  color: var(--dark-blue);
  transition: 0.1s linear;
}
div.pln3 > a:hover {
  color: var(--de-saturated-blue);
  text-decoration: none;
  transition: 0.2s linear;
}
div.pln2 > h3 {
  color: var(--dark-blue);
  padding-bottom: 0.2rem;
  font-weight: 900;
}
div.pln2 > p {
  color: var(--de-saturated-blue);
}

div.desc > div.btns {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 80%;
}
div.btns > button {
  width: 100%;
  background-color: var(--bright-blue);
  padding: 10px 0;
  border-radius: 0.5rem;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 14px;
  box-shadow: 0 10px 10px #c7c1e0; 
  transition: 0.1s linear;
}
div.btns > button:hover {
  /* background-color: var(--de-saturated-blue); */
  opacity: 0.6;
  cursor: pointer;
  transition: 0.2s linear;
}
div.btns > a {
  text-decoration: none;
  color: var(--de-saturated-blue);
  padding-top: 0.8rem;
  font-weight: 700;
  font-size: 14px;
  transition: 0.1s linear;
}
div.btns > a:hover {
  color: var(--dark-blue);
  transition: 0.2s linear;
}