main.container {
  min-width: 100vw;
  min-height: 100vh;
  /* position: relative; */

  display: grid;
  place-items: center;
}
main.container::before {
  content: '';
  background: url('../images/pattern-background-desktop.svg');
  height: 437px;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0;
  z-index: -2;
}